{% extends 'main.html' %}
{% block content %}
    <div class="row">
        {% for product in products %}
            <div class="col-lg-4">
                <img class="thumbnail" src="static/images/{{product.image}}">
                <div class="box-element product">
                    <h6><strong>{{product.name}}</strong></h6>
                    <hr>
                    <button data-product={{product.id}} class="btn btn-outline-secondary add-btn update-cart" data-action="add">Add to Cart</button>
                    {% if current_user.is_active %}
                        <h4 style="display: inline-block; float: right"><strong>${{product.price-product.price*0.1}}</strong></h4>
                    {% else %}
                        <h4 style="display: inline-block; float: right"><strong>${{product.price}}</strong></h4>
                    {% endif %}
                    <a class="btn btn-outline-success" href="{{url_for('view_product', pk=product.id)}}">View</a>
                    
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}